<launch>
    <include file="$(find astra_camera)/launch/astra.launch">
        <arg name="camera" value="cam1" />
        <arg name="device_id" value="$(env CAM1)" />
    </include>
    <include file="$(find astra_camera)/launch/astrapro.launch">
        <arg name="camera" value="cam2" />
        <arg name="device_id" value="$(env CAM2)" />
    </include>
    <include file="$(find lingao_bringup)/launch/robot.launch"/>
    <include file="$(find open_manipulator_controller)/launch/open_manipulator_controller.launch">
        <arg name="usb_port" value="/dev/arm" />
    </include>
</launch>
